html,
body {
    height: 100%;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    margin-top: 15%;
    margin-bottom: auto;
    width: 45%;
    background-color: #881a1ec7;
    padding: 1%;
}

.card-header h3 {
    color: white;
}

.links {
    color: white;
}

.links a {
    margin-right: 2%;
}

.signup-button {
    border-radius: 10px;
    color: #000000;
    font-size: 15px;
    padding: 2%;
    background-color: #FFC31C;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 25%;
    margin-top: 2%;
    border: none;
}

.signup-button:hover {
    background: #FAD15F;
}

.register-text {
    text-align: center;
}