@font-face {
    font-family: vazirFont;
    src: url("/Fonts/vazir.ttf");
}

body {
    background-color: #292929;
    font-family: vazirFont;
}

#navigation {
    background-color: #B12025;
    display: flex;
    padding: 0%;
}

.navbar-brand {
    padding: 0%;
}

.profile {
    border-radius: 100%;
    padding: 20%;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b12025b5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 5px 5px;
    right: 40%;
    text-align: center;
    color: white;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin: 10%;
}

.dropdown-content a:hover {
    background-color: rgb(122, 0, 0);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.profile-navbar {
    margin-top: -2%;
}